@media screen and (min-width: 1200px) and (orientation: landscape) {
  article {
    max-width: 1200px;
    width: 100%;
    height: calc(100vh - 70px);
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
}

@media screen and (max-width: 1199px) {
  article {
    max-width: 1200px;
    width: 100%;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
}
